In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import cohen_kappa_score

In [2]:
df1 = pd.read_csv('NLP-annotations-Arjun.csv')
df2 = pd.read_csv('NLP-annotations-Venkat.csv')

In [3]:
df1.head(3)

,annotation_id,annotator,created_at,id,lead_time,pos,text,updated_at
0,71,1,2025-01-24T14:11:32.689006Z,41,153.808,"[{""start"":0,""end"":9,""text"":""राजस्थान "",""labels...",राजस्थान के CM बनने के सवाल पर क्या बोले केंद्...,2025-01-24T14:11:32.689006Z
1,72,1,2025-01-24T14:14:20.335259Z,42,161.749,"[{""start"":0,""end"":6,""text"":""World "",""labels"":[...",World Cup Final 2023: क्या रोहित-विराट अब वर्ल...,2025-01-24T14:14:20.335259Z
2,73,1,2025-01-24T14:15:39.424390Z,43,77.107,"[{""start"":11,""end"":17,""text"":""Tunnel"",""labels""...",Uttarkashi Tunnel Rescue: उत्तरकाशी टनल में फं...,2025-01-24T14:15:39.424390Z

In [4]:
df2.head(3)

,annotation_id,annotator,created_at,id,label,lead_time,text,updated_at
0,22,1,2025-01-24T10:49:13.766051Z,14538,"[{""start"":0,""end"":8,""text"":""राजस्थान"",""labels""...",395.756,राजस्थान के CM बनने के सवाल पर क्या बोले केंद्...,2025-01-24T10:49:13.766051Z
1,23,1,2025-01-24T10:55:00.198146Z,14539,"[{""start"":0,""end"":5,""text"":""World"",""labels"":[""...",301.777,World Cup Final 2023: क्या रोहित-विराट अब वर्ल...,2025-01-24T10:55:00.198146Z
2,24,1,2025-01-24T10:57:42.074330Z,14540,"[{""start"":0,""end"":11,""text"":""Uttarkashi "",""lab...",150.674,Uttarkashi Tunnel Rescue: उत्तरकाशी टनल में फं...,2025-01-24T10:57:42.074330Z

In [6]:
df2.rename(columns={'label': 'pos'}, inplace=True)

In [21]:
df1_pos = df1[['annotation_id', 'pos', 'text']]
df2_pos = df2[['annotation_id', 'pos', 'text']]

In [22]:
df1_pos.head(3)

,annotation_id,pos,text
0,71,"[{""start"":0,""end"":9,""text"":""राजस्थान "",""labels...",राजस्थान के CM बनने के सवाल पर क्या बोले केंद्...
1,72,"[{""start"":0,""end"":6,""text"":""World "",""labels"":[...",World Cup Final 2023: क्या रोहित-विराट अब वर्ल...
2,73,"[{""start"":11,""end"":17,""text"":""Tunnel"",""labels""...",Uttarkashi Tunnel Rescue: उत्तरकाशी टनल में फं...

In [23]:
df2_pos.head(3)

,annotation_id,pos,text
0,22,"[{""start"":0,""end"":8,""text"":""राजस्थान"",""labels""...",राजस्थान के CM बनने के सवाल पर क्या बोले केंद्...
1,23,"[{""start"":0,""end"":5,""text"":""World"",""labels"":[""...",World Cup Final 2023: क्या रोहित-विराट अब वर्ल...
2,24,"[{""start"":0,""end"":11,""text"":""Uttarkashi "",""lab...",Uttarkashi Tunnel Rescue: उत्तरकाशी टनल में फं...

In [92]:
df1_pos['pos'][4]

'[{"start":0,"end":6,"text":"World ","labels":["PROPN"]},{"start":6,"end":10,"text":"Cup ","labels":["PROPN"]},{"start":10,"end":16,"text":"Final ","labels":["PROPN"]},{"start":16,"end":20,"text":"2023","labels":["NUM"]},{"start":20,"end":22,"text":": ","labels":["X"]},{"start":22,"end":26,"text":"मां ","labels":["NOUN"]},{"start":26,"end":29,"text":"ने ","labels":["ADP"]},{"start":29,"end":33,"text":"शमी ","labels":["PROPN"]},{"start":33,"end":36,"text":"से ","labels":["ADP"]},{"start":36,"end":40,"text":"कहा ","labels":["VERB"]},{"start":40,"end":45,"text":"बेटा ","labels":["NOUN"]},{"start":45,"end":51,"text":"world ","labels":["NOUN"]},{"start":51,"end":54,"text":"cup","labels":["NOUN"]},{"start":55,"end":60,"text":"चाहिए","labels":["VERB"]},{"start":60,"end":61,"text":",","labels":["X"]},{"start":62,"end":68,"text":"finals","labels":["NOUN"]},{"start":69,"end":72,"text":"से ","labels":["ADP"]},{"start":72,"end":77,"text":"पहले ","labels":["ADV"]},{"start":77,"end":81,"text":"शमी ","labels":["PROPN"]},{"start":81,"end":84,"text":"की ","labels":["ADP"]},{"start":93,"end":96,"text":"बात","labels":["VERB"]},{"start":84,"end":90,"text":"अम्मी ","labels":["NOUN"]},{"start":90,"end":93,"text":"से ","labels":["ADP"]}]'

In [93]:
df2_pos['pos'][4]

'[{"start":0,"end":6,"text":"World ","labels":["PROPN"]},{"start":6,"end":10,"text":"Cup ","labels":["PROPN"]},{"start":10,"end":16,"text":"Final ","labels":["PROPN"]},{"start":16,"end":20,"text":"2023","labels":["NUM"]},{"start":20,"end":21,"text":":","labels":["X"]},{"start":22,"end":26,"text":"मां ","labels":["NOUN"]},{"start":26,"end":28,"text":"ने","labels":["ADP"]},{"start":29,"end":33,"text":"शमी ","labels":["PROPN"]},{"start":33,"end":35,"text":"से","labels":["ADP"]},{"start":36,"end":39,"text":"कहा","labels":["VERB"]},{"start":40,"end":44,"text":"बेटा","labels":["NOUN"]},{"start":45,"end":51,"text":"world ","labels":["PROPN"]},{"start":51,"end":55,"text":"cup ","labels":["PROPN"]},{"start":55,"end":60,"text":"चाहिए","labels":["VERB"]},{"start":60,"end":61,"text":",","labels":["X"]},{"start":62,"end":69,"text":"finals ","labels":["NOUN"]},{"start":69,"end":71,"text":"से","labels":["ADP"]},{"start":72,"end":76,"text":"पहले","labels":["ADV"]},{"start":77,"end":80,"text":"शमी","labels":["PROPN"]},{"start":81,"end":83,"text":"की","labels":["ADP"]},{"start":84,"end":90,"text":"अम्मी ","labels":["PROPN"]},{"start":90,"end":92,"text":"से","labels":["ADP"]},{"start":93,"end":96,"text":"बात","labels":["NOUN"]}]'

In [94]:
g = df1_pos['text'][4]
g.split()

['World',
 'Cup',
 'Final',
 '2023:',
 'मां',
 'ने',
 'शमी',
 'से',
 'कहा',
 'बेटा',
 'world',
 'cup',
 'चाहिए,',
 'finals',
 'से',
 'पहले',
 'शमी',
 'की',
 'अम्मी',
 'से',
 'बात']

In [95]:
dict_arj = {}
dict_ven = {}

In [97]:
import json

data_str = df1_pos['pos'][4]
data_list = json.loads(data_str)

for item in data_list:
    dict_arj[item['text']] = item['labels'][0]

In [98]:
import json

data_str = df2_pos['pos'][4]
data_list = json.loads(data_str)

for item in data_list:
    dict_ven[item['text']] = item['labels'][0]

In [99]:
dict_arj

{'World ': 'PROPN',
 'Cup ': 'PROPN',
 'Final ': 'PROPN',
 '2023': 'NUM',
 ': ': 'X',
 'मां ': 'NOUN',
 'ने ': 'ADP',
 'शमी ': 'PROPN',
 'से ': 'ADP',
 'कहा ': 'VERB',
 'बेटा ': 'NOUN',
 'world ': 'NOUN',
 'cup': 'NOUN',
 'चाहिए': 'VERB',
 ',': 'X',
 'finals': 'NOUN',
 'पहले ': 'ADV',
 'की ': 'ADP',
 'बात': 'VERB',
 'अम्मी ': 'NOUN'}

In [100]:
dict_ven

{'World ': 'PROPN',
 'Cup ': 'PROPN',
 'Final ': 'PROPN',
 '2023': 'NUM',
 ':': 'X',
 'मां ': 'NOUN',
 'ने': 'ADP',
 'शमी ': 'PROPN',
 'से': 'ADP',
 'कहा': 'VERB',
 'बेटा': 'NOUN',
 'world ': 'PROPN',
 'cup ': 'PROPN',
 'चाहिए': 'VERB',
 ',': 'X',
 'finals ': 'NOUN',
 'पहले': 'ADV',
 'शमी': 'PROPN',
 'की': 'ADP',
 'अम्मी ': 'PROPN',
 'बात': 'NOUN'}

In [101]:
dict_arj = {key.strip(): value for key, value in dict_arj.items()}
dict_ven = {key.strip(): value for key, value in dict_ven.items()}

In [109]:
g = df1_pos['text'][4]
text_arr = g.split()

In [110]:
text_arr

['World',
 'Cup',
 'Final',
 '2023:',
 'मां',
 'ने',
 'शमी',
 'से',
 'कहा',
 'बेटा',
 'world',
 'cup',
 'चाहिए,',
 'finals',
 'से',
 'पहले',
 'शमी',
 'की',
 'अम्मी',
 'से',
 'बात']

In [117]:
kappa_arj = []
kappa_ven = []

for i in text_arr:
    print(i)
    kappa_arj.append(dict_arj.get(i, 'X'))  
    kappa_ven.append(dict_ven.get(i, 'X'))

World
Cup
Final
2023:
मां
ने
शमी
से
कहा
बेटा
world
cup
चाहिए,
finals
से
पहले
शमी
की
अम्मी
से
बात

In [118]:
kappa_arj

['PROPN',
 'PROPN',
 'PROPN',
 'X',
 'NOUN',
 'ADP',
 'PROPN',
 'ADP',
 'VERB',
 'NOUN',
 'NOUN',
 'NOUN',
 'X',
 'NOUN',
 'ADP',
 'ADV',
 'PROPN',
 'ADP',
 'NOUN',
 'ADP',
 'VERB']

In [119]:
kappa_ven

['PROPN',
 'PROPN',
 'PROPN',
 'X',
 'NOUN',
 'ADP',
 'PROPN',
 'ADP',
 'VERB',
 'NOUN',
 'PROPN',
 'PROPN',
 'X',
 'NOUN',
 'ADP',
 'ADV',
 'PROPN',
 'ADP',
 'PROPN',
 'ADP',
 'NOUN']

In [120]:
print("Keys in dict_arj:", dict_arj.keys())
print("Keys in dict_ven:", dict_ven.keys())

Keys in dict_arj: dict_keys(['World', 'Cup', 'Final', '2023', ':', 'मां', 'ने', 'शमी', 'से', 'कहा', 'बेटा', 'world', 'cup', 'चाहिए', ',', 'finals', 'पहले', 'की', 'बात', 'अम्मी'])
Keys in dict_ven: dict_keys(['World', 'Cup', 'Final', '2023', ':', 'मां', 'ने', 'शमी', 'से', 'कहा', 'बेटा', 'world', 'cup', 'चाहिए', ',', 'finals', 'पहले', 'की', 'अम्मी', 'बात'])

In [121]:
len(dict_ven)

20

In [122]:
cohen_kappa_score(kappa_arj, kappa_ven)

0.7565217391304347

In [123]:
import json

In [141]:
kappa_arj = []
kappa_ven = []

for row in range(0, 20):

    dict_arj = {}
    dict_ven = {}
    
    text = df2_pos['text'][row]
    text_arr = text.split()

    data_str_1 = df1_pos['pos'][row]
    data_list_1 = json.loads(data_str_1)

    for item in data_list_1:
        dict_arj[item['text']] = item['labels'][0]

    data_str_2 = df2_pos['pos'][row]
    data_list_2 = json.loads(data_str_2)

    dict_arj = {key.strip(): value for key, value in dict_arj.items()}
    dict_ven = {key.strip(): value for key, value in dict_ven.items()}

    for item in data_list_2:
        dict_ven[item['text']] = item['labels'][0]

    for i in text_arr:
        kappa_arj.append(dict_arj.get(i, 'X'))  
        kappa_ven.append(dict_ven.get(i, 'X'))

In [142]:
len(kappa_arj), len(kappa_ven)

(350, 350)

In [144]:
cohen_kappa_score(kappa_ven, kappa_arj)

0.44588902428493304