In [5]:
import numpy as np
import pandas as pd
from statsmodels.stats.inter_rater import fleiss_kappa

In [6]:
df_arj = pd.read_csv('CV-annotations-Arjun.csv')
df_ven = pd.read_csv('CV-annotations-Venkat.csv')
df_3 = pd.read_csv('CV-annotations-3rd-member.csv')

In [7]:
df_ven

,annotation_id,annotator,created_at,id,image,label,lead_time,updated_at
0,1,1,2025-01-24T09:15:23.361143Z,1,/data/upload/1/3aa355b2-img_620.jpg,truck,27.269,2025-01-24T09:15:23.364545Z
1,2,1,2025-01-24T09:15:54.197917Z,2,/data/upload/1/d6d95b23-img_621.jpg,not_truck,30.301,2025-01-24T09:15:54.197917Z
2,3,1,2025-01-24T09:16:10.318757Z,3,/data/upload/1/b6099dff-img_622.jpg,not_truck,15.594,2025-01-24T09:16:10.318757Z
3,4,1,2025-01-24T09:16:17.291249Z,4,/data/upload/1/748cb150-img_623.jpg,not_truck,6.463,2025-01-24T09:16:17.291249Z
4,5,1,2025-01-24T09:16:21.606223Z,5,/data/upload/1/3b30e529-img_624.jpg,truck,3.798,2025-01-24T09:16:21.606223Z
5,6,1,2025-01-24T09:16:41.674747Z,6,/data/upload/1/bf1c7449-img_625.jpg,truck,19.611,2025-01-24T09:16:41.674747Z
6,7,1,2025-01-24T09:16:45.354189Z,7,/data/upload/1/bf3888a9-img_626.jpg,truck,3.162,2025-01-24T09:16:45.354189Z
7,8,1,2025-01-24T09:16:50.408594Z,8,/data/upload/1/855a1cab-img_627.jpg,truck,4.466,2025-01-24T09:16:50.408594Z
8,9,1,2025-01-24T09:16:55.913337Z,9,/data/upload/1/6eef0c00-img_628.jpg,not_truck,4.833,2025-01-24T09:16:55.913337Z
9,10,1,2025-01-24T09:17:17.212803Z,10,/data/upload/1/5b3c814e-img_629.jpg,not_truck,20.480,2025-01-24T09:17:17.212803Z
10,11,1,2025-01-24T09:18:03.204199Z,11,/data/upload/1/ccaa2786-img_630.jpg,not_truck,45.309,2025-01-24T09:18:03.204199Z
11,12,1,2025-01-24T09:18:09.044403Z,12,/data/upload/1/ccfdcdd8-img_631.jpg,truck,5.125,2025-01-24T09:18:09.044403Z
12,13,1,2025-01-24T09:18:25.752610Z,13,/data/upload/1/c5c962b2-img_632.jpg,truck,16.020,2025-01-24T09:18:25.752610Z
13,14,1,2025-01-24T09:18:34.753731Z,14,/data/upload/1/69997e8c-img_633.jpg,truck,8.047,2025-01-24T09:18:34.753731Z
14,15,1,2025-01-24T09:18:44.318537Z,15,/data/upload/1/28e2aab1-img_634.jpg,not_truck,8.758,2025-01-24T09:18:44.318537Z
15,16,1,2025-01-24T09:19:23.924147Z,16,/data/upload/1/9133c015-img_635.jpg,not_truck,38.799,2025-01-24T09:19:23.924147Z
16,17,1,2025-01-24T09:19:43.633725Z,17,/data/upload/1/f4040a2d-img_636.jpg,not_truck,18.688,2025-01-24T09:19:43.633725Z
17,18,1,2025-01-24T09:19:50.316767Z,18,/data/upload/1/813806d0-img_637.jpg,not_truck,5.848,2025-01-24T09:19:50.316767Z
18,19,1,2025-01-24T09:19:56.254916Z,19,/data/upload/1/2f1060d2-img_638.jpg,truck,5.270,2025-01-24T09:19:56.254916Z
19,20,1,2025-01-24T09:20:47.136945Z,20,/data/upload/1/5d71b19f-img_639.jpg,truck,50.156,2025-01-24T09:20:47.136945Z

In [8]:
df_arj

,annotation_id,annotator,created_at,id,image,label,lead_time,updated_at
0,1,1,2025-01-24T09:15:33.648723Z,1,/data/upload/2/794ec0fe-img_620.jpg,truck,54.373,2025-01-24T09:15:33.648723Z
1,2,1,2025-01-24T09:15:55.397866Z,2,/data/upload/2/1cf0d3a7-img_621.jpg,not_truck,21.478,2025-01-24T09:15:55.397866Z
2,3,1,2025-01-24T09:15:59.780258Z,3,/data/upload/2/8557ddd8-img_622.jpg,not_truck,4.118,2025-01-24T09:15:59.780258Z
3,4,1,2025-01-24T09:16:04.046777Z,4,/data/upload/2/6cdec696-img_623.jpg,not_truck,3.983,2025-01-24T09:16:04.046777Z
4,5,1,2025-01-24T09:16:09.329292Z,5,/data/upload/2/bb17af84-img_624.jpg,truck,5.017,2025-01-24T09:16:09.329292Z
5,6,1,2025-01-24T09:16:15.295939Z,6,/data/upload/2/09b8b45e-img_625.jpg,not_truck,5.693,2025-01-24T09:16:15.295939Z
6,7,1,2025-01-24T09:16:19.195048Z,7,/data/upload/2/2a5c8aa2-img_626.jpg,truck,3.637,2025-01-24T09:16:19.195048Z
7,8,1,2025-01-24T09:16:27.343957Z,8,/data/upload/2/eedd18e5-img_627.jpg,truck,7.865,2025-01-24T09:16:27.343957Z
8,9,1,2025-01-24T09:16:30.977529Z,9,/data/upload/2/cbb7bca6-img_628.jpg,not_truck,3.357,2025-01-24T09:16:30.977529Z
9,10,1,2025-01-24T09:16:37.893449Z,10,/data/upload/2/24952b83-img_629.jpg,not_truck,6.594,2025-01-24T09:16:37.893449Z
10,11,1,2025-01-24T09:16:46.292919Z,11,/data/upload/2/9b89ede4-img_630.jpg,not_truck,8.132,2025-01-24T09:16:46.292919Z
11,12,1,2025-01-24T09:16:51.742150Z,12,/data/upload/2/cf61cb14-img_631.jpg,truck,5.167,2025-01-24T09:16:51.742150Z
12,13,1,2025-01-24T09:18:23.551291Z,13,/data/upload/2/e7c9fea4-img_632.jpg,not_truck,91.213,2025-01-24T09:18:23.551291Z
13,14,1,2025-01-24T09:18:54.945644Z,14,/data/upload/2/91e07966-img_633.jpg,truck,31.122,2025-01-24T09:18:54.945644Z
14,15,1,2025-01-24T09:19:54.026089Z,15,/data/upload/2/e4c62932-img_634.jpg,not_truck,57.951,2025-01-24T09:19:54.026089Z
15,16,1,2025-01-24T09:20:03.274455Z,16,/data/upload/2/f6e81749-img_635.jpg,not_truck,8.967,2025-01-24T09:20:03.274455Z
16,17,1,2025-01-24T09:20:10.907777Z,17,/data/upload/2/28198cb3-img_636.jpg,not_truck,7.363,2025-01-24T09:20:10.907777Z
17,18,1,2025-01-24T09:22:33.228329Z,18,/data/upload/2/6c257b84-img_637.jpg,not_truck,141.758,2025-01-24T09:22:33.228329Z
18,19,1,2025-01-24T09:22:37.529491Z,19,/data/upload/2/33828b14-img_638.jpg,truck,4.048,2025-01-24T09:22:37.529491Z
19,20,1,2025-01-24T09:22:58.169321Z,20,/data/upload/2/a0d56ac9-img_639.jpg,truck,20.385,2025-01-24T09:22:58.169321Z

In [9]:
df_3

,annotation_id,annotator,created_at,id,image,label,lead_time,updated_at
0,21,1,2025-01-24T09:40:11.869547Z,21,/data/upload/3/3726f338-img_620.jpg,truck,51.061,2025-01-24T09:40:11.869547Z
1,22,1,2025-01-24T09:40:21.699275Z,22,/data/upload/3/efb8adbb-img_621.jpg,not_truck,9.371,2025-01-24T09:40:21.699275Z
2,23,1,2025-01-24T09:40:29.850276Z,23,/data/upload/3/8f76d6b2-img_622.jpg,not_truck,7.804,2025-01-24T09:40:29.850276Z
3,24,1,2025-01-24T09:40:35.434684Z,24,/data/upload/3/b6a47702-img_623.jpg,not_truck,5.221,2025-01-24T09:40:35.434684Z
4,25,1,2025-01-24T09:40:42.398779Z,25,/data/upload/3/abe2a3e2-img_624.jpg,truck,6.602,2025-01-24T09:40:42.398779Z
5,26,1,2025-01-24T09:40:51.311482Z,26,/data/upload/3/c4848e75-img_625.jpg,not_truck,8.618,2025-01-24T09:40:51.311482Z
6,27,1,2025-01-24T09:40:56.314340Z,27,/data/upload/3/1868bb43-img_626.jpg,truck,4.722,2025-01-24T09:40:56.314340Z
7,28,1,2025-01-24T09:41:01.897316Z,28,/data/upload/3/d913f879-img_627.jpg,truck,5.261,2025-01-24T09:41:01.897316Z
8,29,1,2025-01-24T09:41:09.374172Z,29,/data/upload/3/1da96030-img_628.jpg,not_truck,7.182,2025-01-24T09:41:09.374172Z
9,30,1,2025-01-24T09:41:14.629274Z,30,/data/upload/3/1e74e516-img_629.jpg,not_truck,4.208,2025-01-24T09:41:14.629274Z
10,31,1,2025-01-24T09:41:23.044821Z,31,/data/upload/3/b94141cd-img_630.jpg,not_truck,8.103,2025-01-24T09:41:23.044821Z
11,32,1,2025-01-24T09:41:30.828135Z,32,/data/upload/3/ca36f720-img_631.jpg,not_truck,7.459,2025-01-24T09:41:30.828135Z
12,33,1,2025-01-24T09:41:57.692024Z,33,/data/upload/3/2aaf9135-img_632.jpg,not_truck,26.559,2025-01-24T09:41:57.692024Z
13,34,1,2025-01-24T09:42:12.258621Z,34,/data/upload/3/d9d055d5-img_633.jpg,truck,14.263,2025-01-24T09:42:12.258621Z
14,35,1,2025-01-24T09:42:17.706968Z,35,/data/upload/3/f38fa494-img_634.jpg,not_truck,5.149,2025-01-24T09:42:17.706968Z
15,36,1,2025-01-24T09:42:23.356509Z,36,/data/upload/3/6ebe7113-img_635.jpg,not_truck,5.348,2025-01-24T09:42:23.356509Z
16,37,1,2025-01-24T09:42:29.922508Z,37,/data/upload/3/c11af6d1-img_636.jpg,not_truck,6.279,2025-01-24T09:42:29.922508Z
17,38,1,2025-01-24T09:42:33.872747Z,38,/data/upload/3/b87e89fe-img_637.jpg,not_truck,3.649,2025-01-24T09:42:33.872747Z
18,39,1,2025-01-24T09:42:37.070114Z,39,/data/upload/3/8818dad1-img_638.jpg,truck,2.904,2025-01-24T09:42:37.070114Z
19,40,1,2025-01-24T09:42:40.804812Z,40,/data/upload/3/213f3ae7-img_639.jpg,not_truck,3.441,2025-01-24T09:42:40.804812Z

In [10]:
df_ven

,annotation_id,annotator,created_at,id,image,label,lead_time,updated_at
0,1,1,2025-01-24T09:15:23.361143Z,1,/data/upload/1/3aa355b2-img_620.jpg,truck,27.269,2025-01-24T09:15:23.364545Z
1,2,1,2025-01-24T09:15:54.197917Z,2,/data/upload/1/d6d95b23-img_621.jpg,not_truck,30.301,2025-01-24T09:15:54.197917Z
2,3,1,2025-01-24T09:16:10.318757Z,3,/data/upload/1/b6099dff-img_622.jpg,not_truck,15.594,2025-01-24T09:16:10.318757Z
3,4,1,2025-01-24T09:16:17.291249Z,4,/data/upload/1/748cb150-img_623.jpg,not_truck,6.463,2025-01-24T09:16:17.291249Z
4,5,1,2025-01-24T09:16:21.606223Z,5,/data/upload/1/3b30e529-img_624.jpg,truck,3.798,2025-01-24T09:16:21.606223Z
5,6,1,2025-01-24T09:16:41.674747Z,6,/data/upload/1/bf1c7449-img_625.jpg,truck,19.611,2025-01-24T09:16:41.674747Z
6,7,1,2025-01-24T09:16:45.354189Z,7,/data/upload/1/bf3888a9-img_626.jpg,truck,3.162,2025-01-24T09:16:45.354189Z
7,8,1,2025-01-24T09:16:50.408594Z,8,/data/upload/1/855a1cab-img_627.jpg,truck,4.466,2025-01-24T09:16:50.408594Z
8,9,1,2025-01-24T09:16:55.913337Z,9,/data/upload/1/6eef0c00-img_628.jpg,not_truck,4.833,2025-01-24T09:16:55.913337Z
9,10,1,2025-01-24T09:17:17.212803Z,10,/data/upload/1/5b3c814e-img_629.jpg,not_truck,20.480,2025-01-24T09:17:17.212803Z
10,11,1,2025-01-24T09:18:03.204199Z,11,/data/upload/1/ccaa2786-img_630.jpg,not_truck,45.309,2025-01-24T09:18:03.204199Z
11,12,1,2025-01-24T09:18:09.044403Z,12,/data/upload/1/ccfdcdd8-img_631.jpg,truck,5.125,2025-01-24T09:18:09.044403Z
12,13,1,2025-01-24T09:18:25.752610Z,13,/data/upload/1/c5c962b2-img_632.jpg,truck,16.020,2025-01-24T09:18:25.752610Z
13,14,1,2025-01-24T09:18:34.753731Z,14,/data/upload/1/69997e8c-img_633.jpg,truck,8.047,2025-01-24T09:18:34.753731Z
14,15,1,2025-01-24T09:18:44.318537Z,15,/data/upload/1/28e2aab1-img_634.jpg,not_truck,8.758,2025-01-24T09:18:44.318537Z
15,16,1,2025-01-24T09:19:23.924147Z,16,/data/upload/1/9133c015-img_635.jpg,not_truck,38.799,2025-01-24T09:19:23.924147Z
16,17,1,2025-01-24T09:19:43.633725Z,17,/data/upload/1/f4040a2d-img_636.jpg,not_truck,18.688,2025-01-24T09:19:43.633725Z
17,18,1,2025-01-24T09:19:50.316767Z,18,/data/upload/1/813806d0-img_637.jpg,not_truck,5.848,2025-01-24T09:19:50.316767Z
18,19,1,2025-01-24T09:19:56.254916Z,19,/data/upload/1/2f1060d2-img_638.jpg,truck,5.270,2025-01-24T09:19:56.254916Z
19,20,1,2025-01-24T09:20:47.136945Z,20,/data/upload/1/5d71b19f-img_639.jpg,truck,50.156,2025-01-24T09:20:47.136945Z

In [12]:
df_combined = pd.DataFrame({
    'arjun': df_arj['label'],
    'venkat': df_ven['label'],
    'third': df_3['label']
})

df_combined.replace({'truck': 0, 'not_truck': 1}, inplace=True)

C:\Users\Venkat\AppData\Local\Temp\ipykernel_21964\2139744263.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_combined.replace({'truck': 0, 'not_truck': 1}, inplace=True)

In [13]:
df_combined

    arjun  venkat  third
0       0       0      0
1       1       1      1
2       1       1      1
3       1       1      1
4       0       0      0
5       1       0      1
6       0       0      0
7       0       0      0
8       1       1      1
9       1       1      1
10      1       1      1
11      0       0      1
12      1       0      1
13      0       0      0
14      1       1      1
15      1       1      1
16      1       1      1
17      1       1      1
18      0       0      0
19      0       0      1

In [16]:
categories = ['truck', 'not_truck']
contingency_table = pd.DataFrame(0, index=df_combined.index, columns=categories)

In [17]:
for col in df_combined.columns:
    for idx, label in enumerate(df_combined[col]):
        contingency_table.loc[idx, categories[label]] += 1

In [18]:
contingency_table

    truck  not_truck
0       3          0
1       0          3
2       0          3
3       0          3
4       3          0
5       1          2
6       3          0
7       3          0
8       0          3
9       0          3
10      0          3
11      2          1
12      1          2
13      3          0
14      0          3
15      0          3
16      0          3
17      0          3
18      3          0
19      2          1

In [19]:
matrix = contingency_table.values
kappa = fleiss_kappa(matrix, method='fleiss')

print(f"Fleiss' Kappa: {kappa:.2f}")

Fleiss' Kappa: 0.72